@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Special+Elite&display=swap');

/* font-family: 'Exo', sans-serif;
font-family: 'Special Elite', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Special Elite', cursive;
    font-size: 16px;
}

h2{
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
}
h3{
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}
span{
    font-family: 'Exo', sans-serif;

}
/* ====== NAV BAR ====== */
nav{
    position: fixed;
    background-color: rgb(249, 246, 246);
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    list-style: none;
}
nav ul {
    font-size: 1.25rem;
    padding: 25px 20px;

}
nav ul li {
    display: inline-block;
}

nav a{
    padding: 0.5rem;
    text-decoration: none;
    color: #000;
}

nav a:hover{
    text-decoration: underline;
}

/* ====== HEADER SECTION ====== */

header{
    background: url(../img/bg.jpeg);
    height: 100vh;
}

header div img{
    padding-top: 20%;
}

/* ====== hello SECTION ====== */
#hello{
    background: url(../img/bridge_1.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    height: 100vh;
}

#hello div {
    background: url(../img/beans_icon.png) #fff;  
    background-size: 70%;  
    height: 50vh;
    padding: 5% 5%;
}

#hello div p:first-of-type{
    margin-top: 1.25rem;
}



#hello div p{
    width: 35%;
    line-height: 1.25rem;
}

/* ====== menu SECTION ====== */

#menu {
    /* height: 100vh; */
    background: url(../img/cake_icon.png) repeat-y;
    /* background: url(../img/bridge_2.jpg) no-repeat; */
    background-size: contain;
    text-align: center;
}
#menu div{
    text-align: center;
    width: 30%;
    margin: auto;
    padding: 2.5rem 0;
}
#menu a{
    display: block;
    text-decoration: none;
    color: #000;
}
#menu a:hover{
    text-decoration: underline;
}
#menu h3{
    margin: 1rem 0;
}
#menu img{
    height: 50px;
    margin-top: 0.5rem;
}

#menu p:first-of-type{
    margin-bottom: 1.25rem;
}

#menu p{
    border: 1px solid #000;
    margin-bottom: 0.5rem;
    padding: 1rem;
    font-size: 1.25rem;
}

/* ====== story SECTION ====== */

#story {
    background: url(../img/bridge_3.jpg) no-repeat;
    background-size:cover;
    height: 100vh;
    background-attachment: fixed;
}

.ourstory {
    background-color: #fff;
    padding: 5% 15%;
}

.ourstory div{
    font-size: 1.25rem;
    display: inline-block;
    width: 40%;
}

.ourstory div h3{
    margin-bottom: 1.25rem;
}

.ourstory div img{
    width: 70%;
    margin-left: 3rem;
}

/* ====== catering SECTION ====== */

#catering {
    background: url(../img/bridge_4.jpeg) no-repeat;
    background-size:cover;
    height: 100vh;
    background-attachment:fixed;
}

.cateringservice{
    background: url(../img/pie_icon.png) no-repeat #fff;
    background-size: contain;
    background-position:right;
    padding: 5% 15%;
}

.cateringservice h3{
    margin-bottom: 1.25rem;
}

.cateringservice div img{
    width: 70%;
    vertical-align: bottom;
}

.cateringservice div{
    font-size: 1.25rem;
    display: inline-block;
    width: 45%;
}

.cateringservice a{
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    padding: 5px;
}
.cateringservice a:hover{
    text-decoration: underline;
}

/* ====== cakes SECTION ====== */

/* #cakes {
    background: url(../img/bridge_4.jpeg) no-repeat;
    background-size:cover;
    height: 100vh;
    background-attachment:fixed;
} */

.ourcakes{
    background: url(../img/muffin_icon.png) no-repeat #fff;
    background-size: contain;
    background-position:left;
    padding: 8% 15%;
}

.ourcakes h3{
    margin-bottom: 1.25rem;
}

.ourcakes div img{
    width: 70%;
    vertical-align: bottom;
}

.ourcakes div{
    font-size: 1.25rem;
    display: inline-block;
    width: 45%;
}

.ourcakes a{
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    padding: 5px;
}
.ourcakes a:hover{
    text-decoration: underline;
}

/* ====== FOOTER ====== */

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
}

footer h4 {
    font-size: 1.5rem;
    font-family: 'Exo', sans-serif;
    padding-top: 2rem;
}
footer a img{
    width: 30px;
    display: block;
    margin: auto;
}
footer h4:last-of-type{
    color: #DAFA03;
    padding-top: 0rem;
    padding-bottom: 2rem;

}

